.idea
.git

.editorconfig
.env.example
.phpunit.result.cache
*.gitignore
.gitattributes
readme.md

Dockerfile
composer.lock

/database/*.db
/vendor
/storage/novel/*
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/bootstrap/cache/*.php
